.buttonsContainer {
  display: flex;
  gap: 25px;
  height: 30px;
}

.responseContainer {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  gap: 90px;
  min-height: 320px;
}

.imageContainer {
}

.image {
}

.textContainer {
  font-size: 16px;
  font-weight: 500;
  width: 510px;
  align-self: center;
}

.code {
  font-size: 30px;
  margin-bottom: 13px;
}

.text {
}
.info {
}
