.buttonsContainer {
    display: flex;
    gap: 25px;
    /* border: 1px solid; */

}

.responseContainer {
    margin-top: 90px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 90px;
}

.imageContainer {
}

.image {
}

.textContainer{
    /* border: 1px solid blue; */
    font-size: 16px;
        font-weight: 500;
        width: 510px;
        align-self: center;
}

.code {
    font-size: 30px;
    margin-bottom: 13px;
}

.text {
    /* border: 1px solid; */

}
.info {
}