.sidebar {
    display: none;
}

.sidebar.open {
    display: block;
    position: absolute;
    padding-left: 70px;
    padding-right: 22px;
    padding-top: 22px;
    background-color: white;
    z-index: 1000;
    height: 100vh;
    width: 317px;
}

.background {
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.3; 
    position: absolute;
    z-index: 500;
}

.nav {

}

.nav a {
    display: block;
    margin-bottom: 45px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 22px;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a:focus {
    color: #3D6B99;
}

.nav a.active {
    color: #0059B2;
    font-size: 150%;
    text-decoration: underline;
}

.close {
    background: transparent;
    border: none;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
}

.close:hover {
    cursor: pointer;
}

.close img {
}
