.sendForm {
    display: flex;
    padding: 0 70px;
}

.textarea {
    background-color: #F5F7FB;
    width: 500px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    resize: none;
    margin-right: 44px;
    box-shadow:0px 1px rgba(29, 33, 38, 0.1)
}

.textarea::-webkit-scrollbar {
    display: none;
  }

.button {
background-color: #0066CC;
color: white;
border: none;
width: 120px;
height: 40px;
padding: 5px;
border-radius: 30px;
}

.button:hover {

}
.button:active {

}
